*{
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
}
body{
    background-image: url("../img/5e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

main{
    background-color: antiquewhite;
    width: auto;
    margin: auto;
    box-shadow: 3px 3px 5px burlywood;
}
#menu {
    margin: 0;
    overflow: hidden;
    list-style: none;
    background-color: rgb(255, 216, 156);
     padding: 20px;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    align-items: center;
}

#menu li a {
    text-decoration: none;
    color: rgb(27, 26, 26);
    margin: 0 20px;
    
}

#menu li a.active {
    color: brown;
    font-weight: bold;
    border-bottom: 2px solid brown; 
}
#menu .right {
    margin-left: auto;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #594100;
    color: #fff;
    margin-top: 40px;
    font-size: 20px;
}

.contatos {
    display: flex;
    gap: 30px; 
    align-items: center;
}

footer .lado {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer .img {
    width: 22px;
    height: auto;
}

